.App-Header-Row{
    display: flex;
    justify-content: space-between;
    background-color: rgb(102, 236, 189);
    color:rgb(7, 80, 56);
    font-style: italic ;
    font-size: 20px;
    height:45px;
}
.App-Header-Link {
    margin: 5px;
    font-size: 20px;
   justify-content: center;
    color:rgb(7, 80, 56);
}